[submodule "aws-robomaker-small-house-world"]
  path = aws-robomaker-small-house-world
  url = https://github.com/aws-robotics/aws-robomaker-small-house-world.git
[submodule "stretch_ros"]
  path = stretch_ros
  url = git@github.com:brinashong/stretch_ros.git
  branch = brina
[submodule "realsense_gazebo_plugin"]
	path = realsense_gazebo_plugin
	url = git@github.com:pal-robotics/realsense_gazebo_plugin.git
